body  {
    background-image: url("texture.jpg");
    background-color: #cabfbf;
  }

  .leadbanner {
    background: white;
    height: 85px;
    margin-top: -8px;
    border: 0px solid blue;
  } 

  .nametab {
      font-family: Helvetica, Arial, sans-serif;
      color: white;
      font-size: 36px;
      text-align: center;
      background: lightblue;
      height: 85px;
      width: 240px;
      padding-top: 8px;
      margin-left: 80px;
      margin-top: -8px;
      float: left;

  }

  .linkgrouper {
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
    margin-left: 5px;
    padding-left: 5px;
    border-right: 1px solid grey;
    padding-right: 10px;
    
  }

  .aboutmebox {
    background-color: white;
    width: 960px;
    border: 1px solid grey;
    padding: 5px;
    margin: 100px;
  }

  .aboutmeheader {
    color: lightblue;
    border-bottom: 3px solid grey;
    margin-bottom: 20px;
  }

  .aboutmeimg {
    padding-right: 16px;
    float: left;
  }